.container {
  height: 200px;
  width: 200px;
  padding: 1rem;
  border-radius: 10px 0px;
  background-color: var(--color-tertiary-dark);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 15px 15px 0px 0px var(--color-tertiary);
}

.container>img {
  object-fit: cover;
  height: 100%;
  max-height: 50px;
}

.container>p>a {
  color: #f2f2f2;
}